.home {
	background-image: linear-gradient(rgba(36, 42, 46, 0.5), rgba(36, 42, 46, 0.8)),
		url("/bg.jpg");
	background-repeat: no-repeat;
	background-size: 137rem 60rem;
	height: 100vh;
}

.home section {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 10rem auto;
	gap: 2.5rem;
}

.home section h1 {
	color: var(--color-light--2);
	font-size: 4.5rem;
	word-spacing: 0.5rem;
	letter-spacing: 0.1rem;
}

.home section h2 {
	color: var(--color-light--1);
	font-size: 2rem;
}
